{% extends 'base.html.twig' %}

{% block body %}
    <div class="uk-section uk-section-default uk-flex uk-flex-center uk-flex-middle" style="height: 80vh;">
        <div class="uk-text-center">
            <h2 class="uk-heading-line"><span>Email Verification</span></h2>
            <p>Please verify your email!</p>
        </div>
    </div>
{% endblock %}