{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
  
    <h1></h1>
    <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right">
         <h1>Reset your password</h1>
        {{ form_start(requestForm) }}
          <div class="uk-margin">
                <label class="uk-form-label">Email</label>
                <div class="uk-form-controls uk-width-1-1 uk-width-1-2@m">
                    {{ form_widget(requestForm.email, {'attr': {'class': 'uk-input'}})}}
                    <small>
                        Enter your email address, and we will send you a
                        link to reset your password.
                    </small>
                </div>
            </div>
            <button class="uk-button uk-button-primary uk-button-center">Send password reset email</button>
        {{ form_end(requestForm) }}
     </div>
{% endblock %}
   